section {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section .contacts {
  overflow: auto;
}
section .form-button {
  margin-top: 0.3rem;
}
.contact {
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
}
