<nav>
    <div class="nav-bar">
        <details>
            <summary>
                Your ID
            </summary>
            <h4>
                {{ userId }}
            </h4>
        </details>
        <ul class="t-color">
            <li (click)="setOpenNav()" class="open-slider">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#ffff">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                    </svg>
            </li>
            <li class="logo">
                Chat App
            </li>
        </ul>
    </div>

    <div class="nav-container" [ngClass]="{'show-nav': openNav}">
        <div class="nav">
            <ul class="slider">
                <li class="form-button " [ngClass]="{'active': activeKey !== 'contacts'}"><button
                        (click)="setActiveKey('contacts')" class="s-color">Contacts</button></li>
                <li class="form-button" [ngClass]="{'active': activeKey !== 'conversations'}"><button
                        (click)="setActiveKey('conversations')" class="s-color">Conversations</button></li>
            </ul>
            <div class="nav-info">
                <app-conversations *ngIf="activeKey === 'conversations'"></app-conversations>
                <app-contacts *ngIf="activeKey === 'contacts'"></app-contacts>
            </div>
        </div>
    </div>
    <div class="nav-overlay" [ngClass]="{'overlay': openNav}" (click)="setOpenNav()"></div>
</nav>